header {
    width: 100%;
    padding: 10px 10%;
    background-color: #457d58;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#link_logo {
    display: flex;
    align-items: center;
}

#nav_logo{
    width: 160px;
    align-items: center;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    justify-self: left;
    margin: 0px 70px 0px 40%;
    align-items: center;
}

.nav-item a {
    display: flex;
    text-decoration: none;
    color: #fff9ea;
    font-weight: 600;
    align-items: center;
}

.nav-item.active a {
    color: #fff9ea;
    border-bottom: 2px solid #cbddd1;
}

@media (max-width: 1440px) {
    #nav_list {
        display: flex;
        list-style: none;
        gap: 48px;
        margin: 0px;
        justify-self: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    #btn_register{
        display: none;
    }
}