#home{
    display: flex;
    min-height: calc(100vh - 66.7);
}

#grab_attention {
    width: 35%;
    display: flex;
    
    flex-direction: column;
    gap: 28px;
    margin-top: 15%;
}

#grab_attention .title {
    font-size: 4rem;
    line-height: 1.2;
    color: #1d1d11
}

#grab_attention .title span {
    color: #457d58;
}


.subtitle {
    font-size: 1.2rem;
}

#grab_attention_link {
    color: #457d58;
    text-decoration: none;
    font-weight: 600;
}

#index_banner_principal {
    display: flex;
    align-items: start;
    justify-content: end;
    margin-top: 2rem;
    width: 85%;
    margin-left: 10rem;
}

#index_banner_principal img {
    height: 100%;
    width: fit-content;
}

@media (max-width: 990px) {
    #index_banner_principal, 
    #index_banner_principal img {
        display: none;
    }
    #grab_attention{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}